/* Responsive Css */


@media only screen and (max-width: 1699px){  

  .main-header .header-lower .logo-box{
    padding: 28px 70px;
    background: var(--white-color);
    top: 0px;
  }

  .header-style-two.main-header .header-lower .logo-box{
    background: transparent;
  }

  .donate-content .donate-option{
    padding-right: 0px;
  }

  .donate-content .donate-option .other-amount{
    position: relative;
    top: 0px;
  }

}


@media only screen and (max-width: 1549px){

  .main-header .nav-right li.search-toggler, .main-header .nav-right li.nav-btn{
    display: none;
  }

  .main-header .nav-right:before{
    display: none;
  }

  .main-header .nav-right{
    padding-left: 30px;
  }

  .main-header .header-lower .logo-box{
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-header .outer-box{
    padding-right: 30px;
  }

  .main-menu .navigation > li{
    margin: 0px 5px;
  }

  .main-header .nav-right li.btn-box{
    margin-right: 0px;
  }

  .header-style-two.main-header .outer-box{
    padding-left: 30px;
  }

}


@media only screen and (max-width: 1499px){

  .header-top .top-inner{
    display: block;
    text-align: center;
  }

  .header-top .top-inner .top-left{
    justify-content: center;
  }

  .header-top .top-inner .info{
    justify-content: center;
  }

  .header-top .top-inner .top-left p:before{
    display: none;
  }

}



@media only screen and (max-width: 1200px){

  .main-header .header-lower .logo-box:before,
  .main-header .header-lower .logo-box:after{
    display: none;
  }

  .main-menu,
  .sticky-header,
  .main-header.style-one .outer-container:before{
    display: none !important;
  }

  .menu-area .mobile-nav-toggler {
    display: block;
    padding: 10px;
    margin-top: 41px;
    margin-left: 15px;
  }

  .megamenu ul li:first-child{
    display: none;
  }

  .image_block_one .image-box{
    margin-left: 0px;
  }

  .team-block-one .inner-box .lower-content{
    padding-left: 0px;
  }

  .testimonial-section .testimonial-content{
    padding-left: 50px;
  }

  .testimonial-section .slider-content .slider-pager{
    position: relative;
    margin-bottom: 30px;
    min-height: auto;
  }

  .testimonial-section .slider-content .testimonial-inner{
    padding: 0px;
  }

  .testimonial-section .slider-content .slider-pager .thumb-box li{
    display: inline-block;
    margin-right: 12px;
  }

  .header-style-two .menu-area .mobile-nav-toggler{
    margin: 0px;
  }

  .feature-block-two .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .content_block_two .content-box{
    margin-left: 0px;
  }

  .about-style-two .image-box{
    margin-right: 0px;
  }

  .content_block_three .content-box{
    margin-right: 0px;
  }

  .faq-section .image-box{
    margin: 0px;
  }

  .team-style-two .owl-nav{
    display: none;
  }

  .team-style-two .sec-title{
    margin-right: 0px;
  }

  .events-block-one .inner-box{
    padding-left: 0px;
  }

  .events-block-one .inner-box .image-box{
    position: relative;
    width: 100%;
  }

  .event-section .owl-nav{
    display: none;
  }

  .header-style-three .menu-area .mobile-nav-toggler{
    margin: 0px;
  }

  .faq-style-two .content_block_three .content-box{
    margin: 0px;
  }

  .testimonial-style-two .owl-nav{
    display: none;
  }

  .testimonial-style-two .sec-title{
    margin: 0px;
  }

  .team-block-one .inner-box .image-box{
    padding-right: 0px;
  }

  .team-details-content .content-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .shop-details-content .content-box{
    margin-left: 0px;
  }

  .shop-details-content .image-box{
    margin-right: 0px;
  }

  .default-sidebar{
    margin: 0px;
  }

  .default-sidebar .donate-widget .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .contact-section .content-box{
    margin-right: 0px;
  }


}



@media only screen and (min-width: 768px){
  .main-menu .navigation > li > ul,
  .main-menu .navigation > li > ul > li > ul,
  .main-menu .navigation > li > .megamenu{
    display:block !important;
    visibility:hidden;
    opacity:0;
  }
}



@media only screen and (max-width: 991px){

  .feature-block-one .inner-box{
    margin-bottom: 30px;
  }

  .feature-section{
    padding-bottom: 90px;
  }

  .content_block_one .content-box{
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .funfact-section .inner-container{
    display: block;
    text-align: center;
  }

  .funfact-block-one .inner-box{
    display: inline-block;
    text-align: left;
    margin-bottom: 30px;
  }

  .funfact-block-one:last-child .inner-box{
    margin-bottom: 0px;
  }

  .cause-block-one .inner-box{
    margin-bottom: 30px;
  }

  .cause-section,
  .service-section,
  .team-section{
    padding-bottom: 90px;
  }

  .featured-causes .owl-nav{
    display: none;
  }

  .service-block-one .inner-box{
    margin-bottom: 30px;
  }

  .team-block-one .inner-box{
    margin-bottom: 30px;
  }

  .testimonial-section .testimonial-content{
    float: none;
    width: 100%;
  }

  .testimonial-section .bg-layer,
  .banner-style-two .owl-nav{
    display: none;
  }

  .news-block-one .inner-box{
    margin-bottom: 30px;
  }

  .news-section{
    padding-bottom: 90px;
  }

  .main-footer .footer-widget{
    margin: 0px 0px 30px 0px !important;
  }

  .main-footer .widget-section{
    padding-bottom: 75px;
  }

  .header-top .top-right,
  .about-style-two .image-box .image-shape{
    display: none;
  }

  .feature-block-two .inner-box{
    margin-bottom: 30px;
  }

  .about-style-two{
    padding-top: 90px;
  }

  .about-style-two .image-box{
    margin-bottom: 30px;
  }

  .service-block-two .inner-box{
    margin-bottom: 30px;
  }

  .service-style-two{
    padding-bottom: 90px;
  }

  .content_block_three .content-box{
    margin-bottom: 30px;
  }

  .team-style-two .sec-title{
    margin-bottom: 40px;
  }

  .news-block-two .inner-box{
    margin-bottom: 30px;
  }

  .banner-style-three .owl-nav{
    display: none;
  }

  .content_block_four .content-box{
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .faq-style-two .video-content{
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .cause-style-two{
    padding-bottom: 90px;
  }

  .testimonial-style-two .sec-title{
    margin-bottom: 40px;
  }

  .event-details .sidebar-side{
    margin-left: 0px;
    margin-top: 30px;
  }

  .faq-style-two.faq-page .content_block_three .content-box{
    margin-bottom: 30px;
  }

  .faq-style-two.faq-page{
    padding-bottom: 90px;
  }

  .cause-details .cause-block-one .inner-box .lower-content{
    display: block;
    padding-bottom: 40px;
    padding-left: 40px;
  }

  .cause-details .cause-block-one .inner-box .lower-content .progress-box{
    padding-left: 0px;
  }

  .default-sidebar{
    margin-top: 40px;
  }

  .shop-page-section .our-shop{
    margin-top: 40px;
  }

  .shop-details-content .image-box{
    margin-bottom: 30px;
  }

  .cart-section .othre-content .coupon-box{
    float: none;
    width: 100%;
  }

  .cart-section .othre-content .update-btn{
    float: none;
    margin-top: 15px;
  }

  .info-block-one .inner-box{
    margin-bottom: 30px;
  }

  .contact-section{
    padding-top: 94px;
  }

  .contact-section .content-box{
    margin-bottom: 40px;
  }


}


@media only screen and (max-width: 767px){

  .main-header .nav-right { 
      margin: 0px 0px 15px; 
  }

  .main-header .header-lower .logo-box{
    padding: 15px 0px 15px;
  }
  

  .main-header .outer-box{
    display: block;
    padding-right: 0px;
  }

  .main-header .logo-box .logo{
    margin: 0 auto;
  }

  .menu-area .mobile-nav-toggler{
    margin-top: 12px;
    margin-right: 15px;
  }

  .banner-section .banner-carousel .owl-dots{
    display: none;
  }

  .banner-section .shape-1,
  .banner-section .shape-2{
    display: none;
  }

  .banner-carousel .slide-item{
    padding: 100px 0px 110px 0px;
  }

  .banner-carousel .content-box h2{
    font-size: 40px;
    line-height: 50px;
  }

  .sec-pad{
    padding: 74px 0px 70px 0px;
  }

  .sec-title h2 br{
    display: none;
  }

  .feature-section{
    padding-bottom: 40px;
  }

  .content_block_one .content-box .inner .single-column:first-child .single-item{
    margin-bottom: 20px;
  }

  .image_block_one .image-box{
    padding-left: 150px;
  }

  .sec-title h2{
    font-size: 36px;
    line-height: 46px;
  }

  .funfact-section{
    padding: 70px 0px;
  }

  .cause-section,
  .service-section,
  .team-section,
  .news-section{
    padding-bottom: 40px;
  }

  .testimonial-section .testimonial-content{
    padding: 65px 30px;
  }

  .header-top .top-inner .top-left{
    display: block;
  }

  .header-top .top-inner .top-left .social-links li{
    float: none;
  }

  .header-style-two.main-header .outer-box{
    display: flex;
    padding-right: 20px;
  }

  .header-style-two.main-header .header-lower .nav-right{
    display: none;
  }

  .banner-style-two .banner-carousel .slide-item{
    padding-bottom: 200px;
  }

  .about-style-two{
    padding-top: 40px;
  }

  .service-style-two{
    padding-bottom: 40px;
  }

  .cta-section{
    padding: 65px 0px 70px 0px;
  }

  .cta-section .inner-box h2{
    font-size: 40px;
    line-height: 50px;
  }

  .team-style-two{
    padding-bottom: 40px;
  }

  .event-section{
    padding-top: 65px;
  }

  .events-block-one .inner-box .content-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .cta-style-two .inner-box{
    display: block;
    text-align: center;
  }

  .cta-style-two .inner-box h2{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .header-style-three{
    top: 0px;
  }

  .header-style-three .logo-box{
    display: none;
  }

  .header-style-three .header-lower .outer-box{
    display: flex;
    padding-left: 20px;
  }

  .banner-style-three .banner-carousel .slide-item{
    padding: 280px 0px 100px 0px;
  }

  .about-style-three .image-box{
    margin-right: 0px;
  }

  .faq-style-two{
    padding-top: 0px;
  }

  .faq-style-two .video-inner{
    padding: 150px 0px;
  }

  .cause-style-two{
    padding-bottom: 40px;
  }

  .testimonial-block-one .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-title{
    padding: 70px 0px 80px 0px;
  }

  .page-title .content-box h1{
    font-size: 50px;
    line-height: 60px;
  }

  .team-page-section{
    padding: 64px 0px 40px 0px;
  }

  .team-details{
    padding: 70px 0px;
  }

  .team-details-content{
    margin-bottom: 40px;
  }

  .team-details .team-discription{
    margin-bottom: 40px;
  }

  .team-details .experience-inner{
    margin-left: 0px;
    margin-top: 30px;
  }

  .event-page-section,
  .services-page-section{
    padding: 70px 0px 40px 0px;
  }

  .event-details{
    padding: 70px 0px;
  }

  .event-details .content-side .content-two .two-image .image{
    margin-bottom: 30px;
  }

  .faq-style-two.faq-page{
    padding: 64px 0px 40px 0px;
  }

  .testimonial-page-section{
    padding: 60px 0px 40px 0px;
  }

  .gallery-page-section{
    padding: 60px 0px 40px 0px;
  }

  .cause-style-two.cause-page-2{
    padding: 70px 0px 40px 0px;
  }

  .cause-details,
  .shop-page-section,
  .cart-section,
  .checkout-section,
  .sidebar-page-container{
    padding: 70px 0px;
  }

  .cause-details-content .content-two .image-box .image{
    margin-bottom: 30px;
  }

  .shop-details{
    padding: 70px 0px 70px 0px;
  }

  .checkout-section .additional-info{
    margin-bottom: 40px;
  }

  .blog-details-content .content-one .image-box .image{
    margin-bottom: 30px;
  }

  .contact-info-section{
    padding-top: 70px;
  }

  .donate-content .donate-option .donate-list li{
    width: auto;
    margin-right: 15px;
  }

  .header-top .top-inner .top-left p{
    margin-right: 0px;
  }

  .cause-section.cause-page-1{
    padding: 70px 0px 40px 0px;
  }


}

@media only screen and (max-width: 599px){

  .pagination li a{
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .image_block_one .image-box .image-1{
    width: auto;
  }

  .footer-top{
    display: block;
  }

  .footer-top .footer-logo{
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .main-footer .widget-section{
    padding: 70px 0px 40px 0px;
  }

  .events-block-one .inner-box .content-box .lower-box{
    display: block;
  }

  .events-block-one .inner-box .content-box .lower-box:before{
    display: none;
  }

  .list-style-one li{
    width: 100% !important;
  }

  .cart-section .othre-content .coupon-box input[type='text']{
    max-width: 100%;
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .cart-section .othre-content .coupon-box button,
  .cart-section .othre-content .theme-btn-two{
    width: 100%;
  }

  .blog-details-content .author-box{
    padding-right: 30px;
    padding-left: 30px;
  }

  .blog-details-content .author-box .author-thumb{
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 20px;
  }

  .page-title-two h1{
    font-size: 50px;
    line-height: 60px;
  }



}


@media only screen and (max-width: 499px){

  /* .donate-content .donate-option .donate-list li{
    width: 100%;
  } */

  .main-header .nav-right{
    padding-left: 15px;
  }

  .feature-block-one .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .image_block_one .image-box{
    padding: 0px;
  }

  .image_block_one .image-box .image-2{
    position: relative;
    margin-top: 30px;
  }

  .cause-block-one .inner-box .progress-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .cause-block-one .inner-box .lower-content .text{
    padding-left: 30px;
  }

  .featured-causes .single-item .inner-box{
    padding-left: 30px;
  }

  .team-block-one .inner-box .image-box .image{
    width: 290px;
    height: 290px;
  }

  .banner-carousel .content-box p br{
    display: none;
  }

  .header-style-two.main-header .outer-box{
    padding-right: 15px;
    padding-left: 15px;
  }

  .about-style-three .image-box .shape{
    display: none;
  }

  .about-style-three .image-box{
    margin-left: 0px;
  }

  .cause-style-two .cause-block-one .inner-box,
  .team-block-two .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .cta-style-two .inner-box h2 br{
    display: none;
  }

  .event-page-section .events-block-one .inner-box .content-box{
    padding-left: 30px;
  }

  .error-section .inner-box h1{
    font-size: 160px;
    line-height: 160px;
  }

  .donate-popup .donate-content{
    padding-left: 0px;
    padding-right: 0px;
  }

  .donate-content .donate-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .donate-content .donate-option .other-amount{
    width: 260px;
  }

  .donate-content .donate-option .other-amount{
    padding-left: 30px;
    padding-right: 30px;
  }

  .shop-details-content .addto-cart-box li{
    margin-bottom: 15px;
  }

  .shop-details .product-discription .comment-box{
    padding-left: 0px;
  }

  .shop-details .product-discription .comment-box .comment-thumb{
    position: relative;
    margin-bottom: 20px;
  }

  .shop-details .product-discription .tab-btn-box .tab-btns li{
    border-radius: 0px;
  }


}